.blog-post-detail {
    margin: auto;
    max-width: 100%;
    // background-color: $color-surface;

    &__content {
        background-color: $color-surface;
        box-shadow: $shadow-1;
        padding: 1.6rem;
    }

    &__actions {
        background-color: $color-primary;
        box-shadow: $shadow-2;
        display: flex;
        justify-content: flex-end;
        min-height: 5.2rem;
        padding: 0.8rem;

        .btn:not(:first-child) {
            margin-left: 0.8rem;

        }
    }
}