{
    "env": {
        "browser": true,
        "es6": true,
        "amd": true,
        "node": true
    },
    "globals": {
        "jest": true,
        "console": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "jest",
        "react",
        "jsx-a11y"
    ],
    "rules": {
        "indent": [
            "warn",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "react/prop-types": [1, {
            "ignore": ["children"]
        }],

        "eqeqeq": "error",
        "no-console": "off",
        "no-unused-vars": "warn",
        "no-undef": 2,
        "no-undef-init": 2,
        "jsx-a11y/href-no-hash": [0],
        "jsx-a11y/anchor-is-valid": ["warn", {
            "aspects": ["invalidHref"]
        }],
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "import/no-unresolved": 0
    },
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:react/recommended"

    ]
}